body {
    overflow-x: hidden;
}
p {
    line-height: 1.5;
}
#mainNav .navbar-toggler {
    font-size: 15px;
    right: 0;
    padding: 10px;
    color: white;
    border: 0;
    background-color: #fed136;
}

.bg-light {
    background: transparent !important;
    transition: 0.4s ease;
}
.bg-light.scrolled {
    background-color: white !important;
}
.jumbotron {
    background-image: url(menu/charles-deluvio-of0iY9BzrzI-unsplash.jpg);
    margin: auto;
    background-size: cover;
    margin-top: -80 px;
    height: 750px;
    text-align: center;
}
.jumbotron .logoimg {
    margin-top: 100px;
    width: 120px;
    height: 150px;
}
.jumbotron .brandnama {
    font-weight: bold;
    font-size: 80px;
    color: #000000;
}
.jumbotron p {
    color: #000000;
    font-size: 20px;
}
.jumbotron hr {
    border-color: #f2d409;
    border-width: 5px;
    width: 70px;
}
.about {
    margin-top: 150px;
}

.menu {
    margin-top: 120px;
}
.carousel-item {
    height: 400px;
}
.news {
    margin-top: 85px;
}
.contact-us {
    background-color: #1a1d22;
    height: auto;
    margin-top: 150px;
    background-size: auto;  
}
.contact-us .section-heading {
    color: white;
    margin-top: 20px;
}
.contact-us .form-group input .form-control {
    height: auto;
}
.contact-us .form-group textarea.form-control {
    height: 145px;
}
.col-lg-12 button {
    margin-top: 10px;
    background-color: #f2d409;
    border: 0;
}
.map-container-2{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:100px;
    }
.map-container-2 iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
}
.page-footer{
    margin-top: auto;
    background-color: #1a1d22;
    font-size: normal;
    color: white;
}
.page-footer a {
    color: white;
}
.sharela {
    margin-top: 150px;
    text-align: center;
}
.sharela img{
    padding: 5px;
    margin: 10px;
    width: 50px;
    height: 50px;
}
.location {
    margin-top: 100px;
}
.location iframe {
    margin-top: 15px;
    border: 0   ; 
    width: 700px; 
    height: 300px;
}
.location .alamat {
    margin-top: 20px;
}
